<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main/css">
    <title>NGO team </title>
</head>
<body>
    <main>
        <header>
            <h1 class="hidden">NGO Project</h1>
            <h2>Team 2</h2>
            <nav class="main-nav">
                <h2 class="hidden">main nav</h2>
                <ul>
                <li>Person 1</li>
                <li>Person 2</li>
            </ul>
            </nav>
        </header>
    </main>
</body>
</html>